{% extends 'base.html' %}

{% block content %}
<h1>Diecast Cars</h1>
<p style="color: rgb(221, 34, 50); 
font-family: Arial, Helvetica, sans-serif;">
</p>
<form action ="#" method="post">
    <p>Name:</p>
    <p>Tomica - Nissan, Diesel Quon Mixer, classic, 2007, blue, metal, 329.00, https://cf.shopee.ph/file/eafe49a9e2606eb548e41a37ffdf05d3</p>
    <p>Tomica - Ferrari, Testarossa, premium, 2018, red, metal, 449.00, https://i.ebayimg.com/images/g/n7AAAOSw4URd-hd0/s-l1600.jpg</p>
    <p>MiniGT - Honda, S2000, normal, 2021, yellow pearl, metal, 180.00, https://static.wikia.nocookie.net/minigt/images/7/72/MGT00282.jpg/revision/latest?cb=20211104012036</p>
    <p>MiniGT - LB Works, Lamborghini Aventador, normal, 2019, black, metal, 500.00, https://lzd-img-global.slatic.net/g/ff/kf/Se39fdb6293b14d26a2bd9631ccfe40423.jpg_720x720q80.jpg</p>
    <p>HotWheels - Mitsubishi, Pajero Evolution, Mud Studs, 2023, red, metal, 140.00, https://static.wikia.nocookie.net/hotwheels/images/3/38/MitsubishiPajeroEvo.jpg/revision/latest/scale-to-width-down/1000?cb=20230322100637</p>
    <p>HotWheels - Porsche, 911 Carrera RS-classic 2.7, Retro Racers, 2023, orange, plastic, 200.00, https://static.wikia.nocookie.net/hotwheels/images/9/98/PorscheCarreraRS.jpg/revision/latest/scale-to-width-down/1000?cb=20230626030218</p>
    <p>Matchbox  - Lexus, LS 400, MBX Highway, 2022, grey, plastic, 666.30, https://i.ebayimg.com/images/g/20MAAOSwhx9ic6Qj/s-l1600.jpg</p>
    <p>Matchbox - Volkswagen, Golf V GTI, MBX Highway, 2021, grey, plastic, 200.00, https://static.wikia.nocookie.net/matchbox/images/e/eb/2021_MB684_Golf_V_GTI.jpg/revision/latest?cb=20210714134816</p>
    <p>Welly, Jeep, Wrangler Rubicon, normal, 2023, red, metal, 399.00, https://www.wellydiecast.com/upload/product/large/2017-03-13/050054535475.jpg.</p>
    <p>Welly, Mercedes-Benz, Unimog U400, normal, 2023, blue, metal, 399.00, https://www.wellydiecast.com/upload/product/large/2017-03-13/975844411959.jpg</p>
</form>

<ul>

    <li style="color: rgb(90, 36, 177)">Jaime</li>
    <li>Jaime</li>
    <li>Angel</li>
</ul>

{% endblock %}