{% extends 'base.html' %}

{% block content %}
<h1>List of Official Die-cast manufacturers</h1>
<p>Browse through all of our trusted die-cast brands. We guarantee that manufacturers listed below had acquired license to produce their products.</p>
<ul>
    <li><a href="manufacturer/HotWheels">Hot Wheels</a></li>
    <li><a href="manufacturer/Matchbox">Matchbox</a></li>
    <li><a href="manufacturer/MiniGT">MiniGT</a></li>
    <li><a href="manufacturer/Tomica">Tomica</a></li>
    <li><a href="manufacturer/Welly">Welly</a></li>
</ul>
{% endblock %}